.login-page {
  --background: #1a1a2e;
  --color: #ffffff;
  --primary-color: #0f3460;
}

.login-page *,
.login-page *::before,
.login-page *::after {
  box-sizing: border-box;
}

.login-page html {
  scroll-behavior: smooth;
}

.login-page body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--color);
  letter-spacing: 1px;
  transition: background 0.2s ease;
}

.login-page a {
  text-decoration: none;
  color: var(--color);
}

.login-page h1 {
  font-size: 2.5rem;
}

.login-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page .login-container {
  position: relative;
  width: 22.2rem;
}

.login-page .form-container {
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 2rem;
  z-index: 99;
}

.login-page form input {
  display: block;
  padding: 14.5px;
  width: 100%;
  margin: 2rem 0;
  color: black;
  background-color: rgba(145, 16, 16, 0.3);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  backdrop-filter: blur(15px);
}

.login-page form input:focus {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  animation: wobble 0.3s ease-in;
}

.login-page form button {
  background-color: var(--primary-color);
  color: var(--color);
  display: block;
  padding: 13px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
}

.login-page form button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.login-page .circle {
  width: 8rem;
  height: 8rem;
  background: var(--primary-color);
  border-radius: 50%;
  position: absolute;
}

.login-page .illustration {
  position: absolute;
  top: -14%;
  right: -2px;
  width: 90%;
}

.login-page .circle-one {
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-45%, -45%);
}

.login-page .circle-two {
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(45%, 45%);
}

.login-page .register-forget {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.login-page .opacity {
  opacity: 0.6;
}

@keyframes wobble {
  0% {
    transform: scale(1.025);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
